extends ../layout.pug

block content
    .file-upload 
        form(action="/f" method="post" enctype="multipart/form-data")
            label(for="file_upload") Select file
            input#file_upload(type="file" name="file")
            input(type="submit" value="Submit")
