doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet' href='/stylesheets/style.css')
      link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  body
    .wrapper
      if flash
        - const flash_type_class = `flash_${flash.type}`
        div(class= flash_type_class)
          p= flash.message
      block content