doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet' href='/stylesheets/style.css')
      link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  body
    .wrapper
      .flash_messages
        if flash
          each value, key in flash
            -let flash_class = `flash_${key} flash`
            div(class=flash_class)
              p= value 
      block content