extends ../layout.pug 
block append head 
    title Dashboard
block content
    .content
        .group_content
            if user  
                h1 
                    a(href="/f") Create one+
            include ../includes/file-table
        .group_content
            if user  
                h1 
                    a(href="/l") Create one+
            include ../includes/link-table
