extends ../layout.pug 
block append head 
    title Dashboard
block content
    .content
        .group_content
            include ../includes/file-table
        .group_content
            include ../includes/link-table
