extends ../layout.pug 
block append head
    title= `@${user.username}`

block content
    .content
        h1= `@${user.username}`

        div
            span= files.length+ " files upladed"
            span= links.length+ " links shortend"

        a(href="/f") Upload files
        a(href="/l") Short link  
