extends ../layout.pug 

block content
    .content
        h1= `@${user.username}`

        each link in links
            div= link
        else 
            h3 no shortend links

        each file in files
            div= file
        else 
            h3 no upload Files

        if login
            a(href="/f") Upload files
            a(href="/l") Short link  
