extends ../layout.pug
block content 
    if user
        -let user_page = `/auth/update`;
        .form_update_username
            h1 Update user name
            form(action=user_page method="post")
                label= user.username
                input#new_username(type="text" placeholder="Insert new username" name="username")
                input(type="submit" value="Submit")

        .form_update_password
            h1 Update user password
            form(action=user_page method="post") 
                input#old_pass(type="password" placeholder="Insert old password" name="old_pass" autocomplte=false)
                input#new_pass(type="password" placeholder="Insert new password" name="new_pass")
                input#confirm_new_pass(type="password" placeholder="Confirm new password" name="confirm_new_pass")
                input(type="submit" value="Sumbit")